.resize{
    display: block;
    height:100%;
    max-width: 100vw;
    max-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.carousel-control-prev,.carousel-control-next{
    position: fixed;
    top: 0%;
}